# Named tuples

In [1]:
from collections import namedtuple

City = namedtuple("City", "name country population coordinates")

tokyo = City("Tokyo", "Japan", 40.8, (35.4122, 139.4130))

tokyo

City(name='Tokyo', country='Japan', population=40.8, coordinates=(35.4122, 139.413))

In [5]:
tokyo.population, tokyo.coordinates

(40.8, (35.4122, 139.413))

In [ ]:
tokyo[1]

(35.4122, 139.413)

In [6]:
tokyo._fields

('name', 'country', 'population', 'coordinates')

In [10]:
paris_data = "Paris", "France", 2.048, (48.5124, 2.2107)
paris = City._make(paris_data)

paris

City(name='Paris', country='France', population=2.048, coordinates=(48.5124, 2.2107))

In [11]:
paris._asdict()

{'name': 'Paris',
 'country': 'France',
 'population': 2.048,
 'coordinates': (48.5124, 2.2107)}